<main class="container">
  <div class="row">
    <div class="col">
      <form #secretForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="firstName" class="required">First name</label>
            <input [(ngModel)]="model.firstName" type="text" class="form-control" placeholder="First name" id="firstName" name="firstName" #firstName="ngModel" required>
            <div class="valid-feedback" [hidden]="!firstName.valid">
              Looks good!
            </div>
            <div class="invalid-feedback" [hidden]="firstName.valid || !firstName.touched">
              First name is required.
            </div>
          </div>

          <div class="col-md-4 mb-3">
            <label for="lastName" class="required">Last name</label>
            <input [(ngModel)]="model.lastName" type="text" class="form-control" placeholder="Last name" id="lastName" name="lastName" #lastName="ngModel" required>
            <div class="valid-feedback" [hidden]="!lastName.valid">
              Looks good!
            </div>
            <div class="invalid-feedback" [hidden]="lastName.valid || !lastName.touched">
              Last name is required.
            </div>
          </div>

          <div class="col-md-4 mb-3">
            <label for="validationCustomUsername" class="required">Username</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend">@</span>
              </div>
              <input [(ngModel)]="model.userName" type="text" class="form-control" placeholder="Username" aria-describedby="inputGroupPrepend" id="userName" name="userName" #userName="ngModel" required>
              <div class="valid-feedback" [hidden]="!userName.valid">
                Looks good!
              </div>
              <div class="invalid-feedback" [hidden]="userName.valid || !lastName.touched">
                User name is required.
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="city">City</label>
            <input [(ngModel)]="model.city" type="text" class="form-control" id="city" name="city" #city="ngModel" placeholder="City">
          </div>
          <div class="col-md-3 mb-3">
            <label for="province">Province</label>
            <input [(ngModel)]="model.province" type="text" class="form-control" id="province" name="province" #province="ngModel" placeholder="Province">
          </div>
          <div class="col-md-3 mb-3">
            <label for="model.postalCode">Postal Code</label>
            <input [(ngModel)]="model.postalCode" type="text" class="form-control" id="model.postalCode" name="postalCode" #postalCode="ngModel" placeholder="A9A 9A9">
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="note">Note</label>
            <input type="text" class="form-control" [(ngModel)]="model.note" id="note" name="note" #note="ngModel" placeholder="Note...">
          </div>
          <div class="col-md-3 mb-3">
            <label for="gender">Gender</label>
            <select class="form-control" [(ngModel)]="model.gender" id="gender" name="gender" #gender="ngModel">
              <option [ngValue]="null">-</option>
              <option value="M">Male</option>
              <option value="F">Female</option>
              <option value="X">X</option>
            </select>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="quantitySlider">How Much? {{model.quantitySlider}}</label>
              <input type="range" min="7" max="911" class="form-control-range" id="quantitySlider" name="quantitySlider" #quantitySlider="ngModel" [(ngModel)]="model.quantitySlider">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" [(ngModel)]="model.termsAndConditions" id="termsAndConditions" name="termsAndConditions" #termsAndConditions="ngModel" required>
            <label class="form-check-label required" for="termsAndConditions">
              Agree to terms and conditions
            </label>
            <div class="valid-feedback" [hidden]="!termsAndConditions.valid">
              Welcome aboard!
            </div>
            <div class="invalid-feedback" [hidden]="termsAndConditions.valid || secretForm.form.pristine">
              You must agree to terms and service to recieve service.
            </div>
          </div>
        </div>
        <button [disabled]="!secretForm.form.valid" class="btn btn-primary" type="submit">Submit form</button>
        <div class="invalid-feedback" [hidden]="secretForm.form.valid || secretForm.form.pristine">
          One or more required fields is missing from the submission.
        </div>
      </form>
    </div>
    <div class="col">
      <button (click)="dummyData()">Dummy Data</button>
      <pre>{{model|json}}</pre>
    </div>
  </div>
</main>
