<div class="row">
    <div class="col">
        This page represents one that gets lazy loaded. (No assets loaded from the landing page.) The benefit is that all of the overhead from complex logged in components are not included with the main blob sent to the user. That means an anonymous user can't even download the authenticated components.
    </div>
    <div class="col-md-4">
        <div class="card">
            <h4 class="card-header">Bootstrap Only Sidebox</h4>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>